<% if @game.turn == 1 %>
<%= @game.player_1.name %> attacked <%= @game.player_2.name %>
<% else %>
<%= @game.player_2.name %> attacked <%= @game.player_1.name %>
<% end %>

<form action='/play'>
  <input type='submit' value='Return'>
</form>